/* Border */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/border */

.border {
    border: 1px solid darkorchid;
}

/* Margin */
/* Margin-colapse */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/margin */

/* Padding */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/padding */

div {
    width: 200px;
    height: 100px;
}

.padding {
    box-sizing: border-box;
    padding: 40px;
}